---
import { useTranslations } from "@i18n/util";
import { OverviewImage } from "@serverless-cd/goat-ui";

const t = useTranslations(Astro);
---

<div class="block bg-base-100 py-10 flex flex-col justify-center items-center">
    <div class="top-title flex flex-col items-center my-20">
        <span class="text-info text-xs mb-6 tracking-[0.15em]"
            >微服务全景图</span
        >
        <span
            class="title text-neutral text-[2.5rem] leading-[3.5rem] font-medium"
            >微服务全景图</span
        >
    </div>

    <div
        class="w-full lg:w-[85.125rem] relative flex overflow-hidden pb-[3.25rem] py-10 px-6 md:px-10 lg:px-0 bg-base-100 mx-auto"
    >
        <OverviewImage
            colors={{ panelColor: "#F6F8F8", arrowColor: "#61B867" }}
        />
    </div>
</div>
